html {
	background-color: #f0f0f0;
}
#all {
	max-width: 800px;
	border: 1px solid grey;
	padding: 5px;
	background-color: #f7f7f7;
	font-size: 15px;
	margin: auto;
}
#top-bar {
	font-family: monospace;/*Replace with monospaced...*/
	text-align: center;
	/*border-bottom: 1px solid grey;*/
}
#top-bar h1 {
	font-size: 40px;
}
#nav-pane {
	background-color: lightgrey;
	text-align: center;
	margin: auto;
	font-size: 17px;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	padding: 4px;
}
#nav-pane a {
	text-decoration: none;
	color: black;
	padding-right: 30px;
	padding-left: 30px;
}
#nav-pane a:hover {
	text-decoration: underline;
}
#content {
	padding-left: 20px;
	padding-right: 20px;
	font-family: arial;
	word-spacing: 1px;
}
#content p {
	line-height: 130%;
	margin-bottom: 20px;
}
#content code {
	background-color: #e7e7e7;
	border: 1px solid grey;
	font-size: 14px;
	padding: 2Px;
	word-spacing: 0px;
}
#content pre {
	background-color: #e7e7e7;
	overflow: auto;
	border: 1px solid grey;
	font-size: 14px;
	padding: 16px;
}
#content pre code {
	border: none;
	padding: 10px 0;
	background-color: transparent;
}
#content img {
	border: 1px solid grey;
	max-width: 100%;
	max-height: auto;
}
#footnote {
	border-top: 1px solid lightgrey;
	padding-top: 4px;
	font-size: 14px;
	text-align: center;
}
#footnote a {
	color: #909090;
	text-decoration:none;
	padding-right: 20px;
	padding-left: 20px;
}
#footnote a:hover {
	color: #505050;
}
